.hidden {
    display: none;
}
.container {
    max-width: 1600px;
    padding: 20px 15px;
    margin: 0 auto;
    flex-direction: column;
    display: flex;
    gap: 18px;
}

.topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.stats {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

 /*card de contador*/
.card {
    background: #1f1f1dfb;
    padding: 50px;
    border-radius: 20px;
    box-shadow: 3px 10px 25px rgba(252, 172, 1, 0.304);
    transition: transform 0.35s cubic-bezier(0.4, 0, 0.2, 1);
}

/*fundo*/
body {
    background: rgb(19, 18, 18);
    color: white;
}

.card:hover {
    transform: translateY(-7px);
}
.card-title {
    font-size: 12px;
    opacity: 0.7;
}
.card-value {
    font-size: 24px;
    font-weight: bold;
    margin-top: 6px;
}
#modalNovaPasta .modal-box {
    background: rgb(59, 56, 51);
    padding: 35px;
    border-radius: 20px;
    box-shadow: 3px 10px 25px rgba(252, 172, 1, 0.304);
}
.btn {
    background: rgb(200, 144, 1);
    padding: 10px 20px;
    border-radius: 20px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.25s ease;
    border: none;
}